@use 'sass:color';

@import 'constants';


body.mat-app-background {
    background-color: $theme-color;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Roboto, 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p {
    line-height: 150%;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.mat-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.material-icons {
    font-family: 'Material Icons Round';
}

.mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: inherit;

    .mat-icon:not(:last-child)~:not(.ripple-on-hover) {
        margin-right: 3px;
    }
}

.mat-button,
.mat-raised-button {
    border-radius: 50px !important;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button {

    &.negative-action {
        color: #dac7c7;
    }

    .mat-ripple-element {
        opacity: 0.2;
    }

    &.mat-button-disabled .ripple-on-hover {
        pointer-events: none;
    }
}

.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color;
}

.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    &.mat-button-disabled {
        background-color: $disabled-primary-button-color;
        color: $disabled-primary-button-text-color;
    }
}