<kun-form-field #formField
                prefixIcon='lock'
                [label]='label'
                [control]='control'
                [hasPlaceholder]='placeholder.length > 0'>
    <input #passwordInput
           class='form-field__input'
           [type]='!_passwordVisible ? "password" : "text"'
           [placeholder]='placeholder'
           [formControl]='control'
           (focus)='formField.focus()'
           (blur)='formField.blur()' />

    <button mat-icon-button
            class='form-field__clear'
            type='button'
            tdzTooltip='Clear this form field'
            [attr.aria-label]='"Clear " + label + " form field"'
            [style.visibility]='passwordInput.value.length > 0 ? "visible" : "hidden"'
            (click)='formField.clear(passwordInput)'>
        <mat-icon>close</mat-icon>
        <kun-ripple-on-hover></kun-ripple-on-hover>
    </button>

    <button mat-icon-button
            type='button'
            class='form-field__toggle-visibility'
            tdzTooltip='Toggle password visibility'
            [attr.aria-label]='_passwordVisible ? "Hide password" : "Make password visible"'
            (click)='_togglePasswordFieldVisibility()'>
        <mat-icon>{{!_passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        <kun-ripple-on-hover></kun-ripple-on-hover>
    </button>
</kun-form-field>
<ng-container *ngIf='hints else otherErrors'>
    <ul class='password-form-field__hint-list error-list'>
        <li *ngFor='let hint of hints'
            [markdown]='hint.label'
            [class]='hint.validatorName'
            [class.has-error]='_hasError(hint.validatorName)'>
        </li>
    </ul>
</ng-container>
<ng-template #otherErrors>
    <kun-error-list [label]='label'
                    [control]='control'>
    </kun-error-list>
</ng-template>