.compound-interest-rate-calculator {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.compound-interest-rate-calculator__result {
    color: #ffa500;
    padding: 0 20px;

}