<mat-form-field [appearance]='appearance'>
    <mat-label>{{label}}</mat-label>
    <textarea #textarea
              matInput
              [rows]='rows'
              [formControl]='control'>
    </textarea>
    <button [style.visibility]='textarea.value.length > 0 ? "visible" : "hidden"'
            matSuffix
            mat-icon-button
            aria-label='Clear'
            (click)='_onClearFormField(textarea)'>
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<kun-error-list [label]='label'
                [control]='control'>
</kun-error-list>