<mat-form-field [appearance]='appearance'
                [class.mat-form-field-invalid]='control.touched && control.invalid'>
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #selectedTagChipList>
        <mat-chip *ngFor='let chip of _addedChips'
                  [removable]='true'
                  (removed)='_onRemoveChip(chip)'>
            {{chip}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input #chipInput
               matInput
               [placeholder]='placeholder'
               [autofocus]='autofocus'
               [formControl]='_chipInputFormControl'
               [matAutocomplete]='matAutocomplete'
               [matChipInputFor]='selectedTagChipList'
               [matChipInputSeparatorKeyCodes]='_chipTerminationKeyCodes'
               (matChipInputTokenEnd)='_onAddChip($event, chipInput)'
               (blur)='_onValidateControl()'>
        <button [style.visibility]='chipInput.value.length > 0 ? "visible" : "hidden"'
                matSuffix
                mat-icon-button
                aria-label='Clear chip input form field'
                tdzTooltip='Clear this form field'
                (click)='_onClearFormField(chipInput)'>
            <mat-icon>close</mat-icon>
        </button>
    </mat-chip-list>
    <mat-autocomplete #matAutocomplete='matAutocomplete'
                      (optionSelected)='_onAddChip($event, chipInput)'>
        <mat-option *ngFor='let option of autocompleteSource'
                    [value]='option'>
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<kun-error-list [label]='label'
                [control]='control'>
</kun-error-list>